<div class="container-fluid col-md-6 shadow p-3 mb-5 bg-white rounded">
  <h3 class="text-center lead">{{memberFormHeader}}</h3>
  <br />
  <!--Template Driven Form or Model Driven Form?-->
  <form [formGroup]="memberForm"  (ngSubmit)="onSubmit(memberForm)">
    <div>
      <div class="row">
        <div class="col-md-6 p-field">
          <input
            type="text"
            class="form-control"             
            required
            placeholder="First Name"
            formControlName="firstName"
          />   
          <small *ngIf="memberForm.controls['firstName'].errors && memberForm.controls['firstName'].touched" class="p-invalid">First Name is required</small>     
      </div>
        <div class="col-md-6 p-field">
          <input
            type="text"
            class="form-control"            
            required
            placeholder="Last Name"
            formControlName="lastName"
          />
          <small *ngIf="memberForm.controls['lastName'].errors && memberForm.controls['lastName'].touched" class="p-invalid">Last Name is required</small>     

        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6 p-field">
          <input
            type="text"
            class="form-control"            
            required
            placeholder="Job Title"
            formControlName="jobTitle"
          />
          <small *ngIf="memberForm.controls['jobTitle'].errors && memberForm.controls['jobTitle'].touched" class="p-invalid">Job title is required</small>     

        </div>
        <!--We may have to make a service call to get this list-->
        <div class="col-md-6">
          <select id="team" class="custom-select" required formControlName="team">
            <option *ngFor="let team of teams" [value]="team.teamName">{{ team.teamName }}</option>
        
          </select>
          <small *ngIf="memberForm.controls['team'].errors && memberForm.controls['team'].touched" class="p-invalid">Team is
            required</small>
          
        </div>
            

      </div>
      <br />
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label id="activeStatus" class="md-check lead">
              <input type="radio" value="Active" formControlName="status" /> Active
            </label>
            <label class="md-check lead">
              <input type="radio" value="Inactive"  formControlName="status" /> Inactive
            </label>
          </div>
          
          <div class="col-md-6">
            <div class="float-right">
              <button id="submitButton" type="submit" class="btn btn-primary" [disabled]="!memberForm.valid">
                Save Member
              </button>
              <button  id="backButton" class="btn btn-primary ml-2" (click)="navigateToMembers()">
                Back
              </button>
            </div>            
          </div>
          
        </div>
        <small *ngIf="memberForm.controls['status'].errors && memberForm.controls['status'].touched" class="p-invalid">status is required</small>     
      </div>
    </div>   
    

  </form>
</div>
