<div class="container-fluid">
  <h3 class="text-center lead">Members Summary</h3>
  <p-toast></p-toast>

  <p-toast position="center" key="c" (onClose)="onReject()"  [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="p-grid ui-fluid" style="margin:auto">
            <div class="p-col-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="p-col-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

  <button id="addMemberButton" class="btn btn-primary pull-right m-5" (click)="goToAddMemberForm()">Add Member</button>
  <table class="table">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Racing Team</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let member of members'>
        <td>{{member?.id}}</td>
        <td>{{member?.firstName}}</td>
        <td>{{member?.lastName}}</td>
        <td>{{member?.jobTitle}}</td>
        <td>{{member?.team}}</td>
        <td>{{member?.status}}</td>
        <td><button id="editMemberButton" class="btn" (click)="editMemberByID(member)"><i class="fa fa-edit"></i></button></td>
        <td><button id="deleteMemberButton" class="btn" (click)="deleteMemberById(member?.id)"><i class="fa fa-trash"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
